---
layout: default
---
<div class="container">
	<div class="row">
		<div class="col col-12">
			<article class="article-first">
				<div class="article-image-first" style="background-image: url({{"/img/" | prepend: site.baseurl | append : "title-gif-2.gif"}})">
					<div class="article-content-first">
						<div class="article-tag">

							Tag

						</div>
						<h2 class="article-title">Title</h2>
						<p class="article-excerpt">Excerpt from article</p>
						<a href="dead link" class="button read-more">Read More</a>
					</div>
				</div>
			</article> <!-- /.article-first -->
		</div>
	</div>
</div>

<!--Main Text-->
<div class="container">
	<div class="row">
		<article class="col col-12 col-t-10 push-t-1 page">
			<div class="post-content">

				<div class="post-head">
					<h1 class="post-title">Title</h1><!--{{ page.title | escape }}-->
					<div class="post-info">
						<div class="post-info-author">
							<div class="info-author-avatar" style="background-image: url({{"/img/" | prepend: site.baseurl | append : site.author-avatar}})"></div>
							<span>by</span>
							<span class="info-author-name">Author</span>
						</div>
						<div class="post-date">
							<span>
								<time datetime="{{ page.date | date_to_xmlschema }}"><!--{{page.date | date: '%b %d, %Y'}}--> Date</time>
							</span>
						</div>
					</div>
				</div>

				<div class="post-body">
					YOOO
				</div>
			</div>

	</article> 
	<!-- /.post -->
	
	<article class="col col-12 col-t-10 push-t-1 page">

		<div class="row">
			{%- for post in paginator.posts offset: 0 -%}
				<article class="article col col-12 col-t-6">
					<div class="article-box">
						<div class="article-head">
							<a href="{{ post.url | prepend: site.baseurl }}" class="article-image" style="background-image: url({{"/img/" | prepend: site.baseurl | append : post.image}})">
								<div class="image-overlay">
									<span class="image-overlay-text">{{post.title | slice: 0}}</span>
								</div>
							</a>
						</div>
						<div class="article-content">
							<h2 class="article-title">
								<a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
							</h2>
							<p class="article-excerpt">{% if post.description %}{{ post.description | strip_html | truncate: 135 }}{% else %}{{ post.content | strip_html | truncate: 135 }}{% endif %}</p>
						</div>
					</div>
				</article> <!-- /.article -->
			{% endfor %}
			</div>
			{% include pagination.html %}			
		</article>

	</div>
</div>