<footer class="footer" style="position: fixed; bottom: 0; width: 100%; padding-bottom: 10px; padding-top: 10px;">
  <div class="container">
    <div class="row">
      <div class="col col-12">


        <div class="footer-top" style="align-items: center; display: inline-flex;">
          <h2 class="logo-title" style="margin-bottom: 0px;">
            <a href="{{site.baseurl}}/" class="logo-text">A Resource Management Sim</a>
          </h2>

          <article class="article-first" style="margin: 0; height: 75px; position: relative;">


            <div class="article-content-first" style="height: 75px; align-items: start;">

              <a href="https://www.dropbox.com/s/p84fek47ufsxlvv/Windows.zip?dl=1" target="_blank" download="Windows.zip" class="button read-more" style="margin: 10px; position: relative; top:-50px;">Windows</a>	
              <a href="https://www.dropbox.com/s/rbpyebdm1awhceh/OSX.app.tar?dl=1" target="_blank" download="OSX.app.tar" class="button read-more" style="margin: 10px; position: relative; top:-50px;">OSX</a>	

            </div>

          </article>


          <!-- <div class="top"><i class="ion ion-ios-arrow-up"></i></div> -->
        </div>
        <div class="footer-bottom">
          <div class="copyright">
            <p>&copy; {{site.time | date: '%Y'}} <a href="https://github.com/JustinLycklama">Justin Lycklama</a></p>
          </div>
          <!-- <div class="footer-social">
            <ul class="list-reset">
              JLycklama
              {% if site.facebook %}
              <li><a href="{{ site.facebook }}">Facebook</a></li>
              {% else %} {% endif %}

              {% if site.twitter %}
              <li><a href="{{ site.twitter }}">Twitter</a></li>
              {% else %} {% endif %}

              {% if site.instagram %}
              <li><a href="{{ site.instagram }}">Instagram</a></li>
              {% else %} {% endif %}

              {% if site.pinterest %}
              <li><a href="{{ site.pinterest }}">Pinterest</a></li>
              {% else %} {% endif %}
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</footer> 

<!-- /.footer -->